# Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
